<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title pull-left">List of Heroes</h3>
    <div class="btn-group pull-right">
      <button (click)="refresh()" class="btn btn-primary btn-sm">
        <i class="fa fa-refresh"></i>
      </button>
      <button [routerLink]="['./new']" class="btn btn-primary btn-sm">
        <i class="fa fa-plus"></i>
      </button>
    </div>
    <div class="clearfix"></div>
  </div>
  <changeit-spinner [show]="!initialized"></changeit-spinner>
  <div class="list-group">
    <button *ngFor="let hero of heroes"
            [class.active]="hero === selection"
            [routerLink]="['./' + hero.id]" (click)="onSelect(hero)"
            type="button" class="list-group-item">
      <span class="badge">{{hero.id}}</span>
      {{hero.name}}
    </button>
  </div>
</div>
