<div class="row">
  <div class="col-lg-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Crisis Center</h3>
      </div>
      <div class="panel-body">
        This is a sample component to demo a multi-module project.
      </div>
      <spinner [show]="!initialized"></spinner>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of data | sort:['id']:['desc']">
          <h4 class="list-group-item-heading">{{item.description}}</h4>
          <p class="list-group-item-text">Crisis ID: {{item.id}}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
