<div class="card">
  <h3 class="card-header">Crisis Center</h3>
  <div class="card-header">
    <div class="btn-group">
      <button (click)="contact()" class="btn btn-primary btn-sm">
        <i class="fa fa-envelope-o"></i>
      </button>
    </div>
  </div>
  <div class="card-block">
    <p class="card-text">This is a sample component to demo a multi-module project.</p>
  </div>
  <changeit-spinner [show]="!(initialized | async)"></changeit-spinner>
  <ul class="list-group list-group-flush">
    <li href="#" class="list-group-item list-group-item-action flex-column align-items-start"
       *ngFor="let item of data | async | sort:['id']:['desc']">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{item.description}}</h5>
        <small>3 days ago</small>
      </div>
      <small>Crisis ID: {{item.id}}</small>
    </li>
  </ul>
</div>
<div changeitDynamicComponent></div>
