<div class="row">
  <div class="col-lg-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title pull-left">Crisis Center</h3>
        <div class="btn-group pull-right">
          <button (click)="contact()" class="btn btn-primary btn-sm">
            <i class="fa fa-envelope-o"></i>
          </button>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body">
        This is a sample component to demo a multi-module project.
      </div>
      <spinner [show]="!(initialized | async)"></spinner>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of data | async | sort:['id']:['desc']">
          <h4 class="list-group-item-heading">{{item.description}}</h4>
          <p class="list-group-item-text">Crisis ID: {{item.id}}</p>
        </li>
      </ul>
    </div>
  </div>
  <div dynamic-components></div>
</div>
