<div *ngIf="hero">
  <h3>Edit Hero</h3>
  <div class="input-group">
    <div class="input-group-addon">{{hero.id}}</div>
    <input type="text" class="form-control" placeholder="Name" [(ngModel)]="hero.name"/>
    <span class="input-group-btn">
      <button type="button" class="btn btn-danger" (click)="save()">
        <i class="fa fa-pencil"></i>
      </button>
      <button type="button" class="btn btn-primary" (click)="goBack()">
        <i class="fa fa-backward"></i>
      </button>
    </span>
  </div>
</div>
