<div *ngIf="hero">
  <form novalidate [formGroup]="heroForm" (ngSubmit)="onSubmit()">
    <div class="card">
      <h3 class="card-header" *ngIf="mode === EditorMode.CreateHero">Create new Hero</h3>
      <h3 class="card-header" *ngIf="mode === EditorMode.EditHero">Edit Hero</h3>
      <div class="card-block">
        <div class="form-group has-feedback"
             [ngClass]="{'has-danger': formErrors.name, 'has-success': heroForm.valid }">
          <div class="input-group">
            <div class="input-group-addon">{{hero.id || '#' }}</div>
            <input type="text" class="form-control " placeholder="Name" id="name"
                   formControlName="name" required
                   [ngClass]="{'form-control-danger': !heroForm.valid, 'form-control-success': heroForm.valid}"/>
          </div>
          <div *ngFor="let message of formErrors.name" class="form-control-feedback">{{ message }}</div>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary" [disabled]="!heroForm.valid">
          <i class="fa fa-save"></i>
        </button>
        <button type="button" class="btn btn-default pull-right" (click)="close()">
          <i class="fa fa-close"></i>
        </button>
      </div>
    </div>
  </form>
</div>
