<div *ngIf="hero">
  <div class="panel panel-default">
    <div class="panel-body">
      <p *ngIf="mode === EditorMode.CreateHero"><strong>Create new Hero:</strong></p>
      <div class="input-group">
        <div class="input-group-addon">{{hero.id || '#' }}</div>
        <input type="text" class="form-control" placeholder="Name" [(ngModel)]="hero.name"/>
      </div>
    </div>
    <div class="panel-footer">
      <button type="button" class="btn btn-primary" (click)="save()">
        <i class="fa fa-save"></i>
      </button>
      <button type="button" class="btn btn-default pull-right" (click)="close()">
        <i class="fa fa-close"></i>
      </button>
    </div>
  </div>
</div>
